body{
    background-color: aqua;
}
h1{
    text-align:center;
    background-color:blue;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 li a:hover:not(.active) {
    background-color:black;
  }
  
.active {
    background-color:blue;
}
p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

table{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: darkgray  ;
    
}
td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    column-width: 100px;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

:link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-decoration: none;
}

  .flex-container {
    display: flex;
    background-color: aqua;
  }
  
  .flex-container > div {
    background-color: lightcyan;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  @media (max-width: 1000px) {
    .flex-container {
      flex-direction: column;
    }
}
